:root{  
  /* Colors */
  --background-color: #d2d2d3;
  --blue-bayoux: #405D72;
  --gray-nurse: #E9EFEC;

  /* Fonts */
  --font-poppins: 'Poppins';
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
}

/* Ensure the html and body take full height */
html, body {
  height: 100%;
  background-color: var(--gray-nurse);
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins), sans-serif; /* Use a clean, sans-serif font */
  line-height: 1.6; /* Improve readability */
}

/* Provide a consistent box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Basic styling for the root element */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%; /* Make sure it takes up full viewport height */
}

/* Basic styles for headers and text */
h1, h2, h3, h4, h5, h6 {  
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
}

p { 
  font-family: var(--font-poppins);

}

/* Style links */
a {
  font-family: var(--font-poppins);  
  text-decoration: none; /* Remove underline */
}

a:hover {
  text-decoration: underline; /* Underline on hover for accessibility */
}
